.wizard-card-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
    padding: 40px;
    max-width: 1200px;
    margin: 0 auto;
    justify-items: center;
}

@media (width > 1000px) {
    .wizard-card-container {
        grid-template-columns: repeat(3, 1fr);
    }
}
